
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #399f6e;
}
.container {
    max-width: 450px;
    width: 100%;
    background: #22787c79;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(118, 115, 37, 0.1);
}
h2 {
    text-align: center;
    color: black;
}
p {
    margin: 10px 0;
    color:rgb(51, 44, 44);
}
input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background: #60339a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
#results {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
    color: #333;
}